ion-input {
    border: solid 1px;
    margin: 5px;
    padding: 3px;
}


ion-img {
    max-width: 200px;
    max-height: auto;
    margin: 5px 5px 10px 5px;
}

#cog {
    font-size: 24px;
    margin-right: 10px;
}