<app-header></app-header>

<ion-content>
  <h1>Accès administrateur</h1>
  <ion-item detail routerLink="/produits">
    <ion-label>
      Accéder au catalogue des produits
    </ion-label>
  </ion-item>

  <h1>Ajouter un produit</h1>
  <div class="ion-text-center">
    <ion-note>Les champs marqués d'un * sont obligatoires.</ion-note>
  </div>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Nom du produit *</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked"> Nom du producteur *</ion-label>
          <ion-select placeholder="Votre choix">
            <ion-select-option value="Farid Agri">Farid Agri</ion-select-option>
            <ion-select-option value="Hélène Présure">Hélène Présure</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" spellcheck="true">Description</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Prix *</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked"> Catégorie *</ion-label>
          <ion-select placeholder="Votre choix">
            <ion-select-option value="viande">Viande</ion-select-option>
            <ion-select-option value="cosmetiques">Cosmétiques</ion-select-option>
            <ion-select-option value="epicerie_salee">Épicerie salee</ion-select-option>
            <ion-select-option value="fruits_et_legumes">Fruits et légumes</ion-select-option>
            <ion-select-option value="entretien_de_la_maison">Entretien de la maison</ion-select-option>
            <ion-select-option value="boissons">Boissons</ion-select-option>
            <ion-select-option value="boulangerie">Boulangerie-pâtisserie</ion-select-option>
            <ion-select-option value="produits_laitiers">Produits laitiers</ion-select-option>
            <ion-select-option value="epicerie_sucree">Épicerie sucrée</ion-select-option>
            <ion-select-option value="fleurs">Fleurs</ion-select-option>
            <ion-select-option value="livres">Livres</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Référence</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nombre de produits en stock</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked"> Unité</ion-label>
          <ion-select placeholder="Votre choix">
            <ion-select-option value="piece">Pièce</ion-select-option>
            <ion-select-option value="kg">kg</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked"> TVA</ion-label>
          <ion-select placeholder="Votre choix">
            <ion-select-option value="5.5">5.5</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Ajouter une photo *</ion-label>
          <ion-input id="file" type="file"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Publié</ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>Mis en avant</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>

        <ion-button type="submit" expand="full" shape="round">Ajouter</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
<router-outlet></router-outlet>